#lists{
  max-width: 900px !important;
  margin: auto;
}

body {
  font-family: sans-serif;
  margin: 0.5rem 1.5rem 1.5rem;
  background-color: #dfdfdf;
}

.modalPopup {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.cartItemCheckbox {
  font-size: 1rem !important;
}

.cartItemText {
  font-size: 0.8rem;
}

#version {

  font-size: 0.7rem !important;
  color: gray;
}

.listCard {
  margin-bottom: 15px !important;
  
}

.lightSkyBlue {
  background-color: #87cefa9e;
}

.lightGreenBg {
  background-color: #87fa9596;
}

button {
  font-size: 0.7rem !important;
}

button:focus{
  box-shadow: none !important;
}

.cartItem {
  margin: 0.5rem 0 !important;
}

@media (min-width: 576px) {
  button {
    font-size: 0.8rem !important;
  }

  .cartItem {
    margin: 0.7rem 0 !important;
  }

  .cartItemCheckbox {
    font-size: 1.5rem !important;
  }

  .cartItemText {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  button {
    font-size: 1rem !important;
  }
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
  
}

@media (min-width: 1400px) {
  
}